.detail-description {
    margin: 60px auto;
    width: 40em;
    border: 1px solid black;
    padding: 15px;
    box-shadow: 3px 4px 6px 0px;
}

.movie-title, .header {
    background-color: red;
    margin-top: -25px;
    padding-top: 20px;
    padding-bottom: 15px;
}
